[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "Video-Depth-Anything"]
	path = Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
[submodule "Cutie"]
	path = Cutie
	url = https://github.com/hkchengrex/Cutie.git
