[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "Video-Depth-Anything"]
	path = Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
[submodule "Cutie"]
	path = Cutie
	url = https://github.com/hkchengrex/Cutie.git
[submodule "Depth-Anything-3"]
	path = Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3
[submodule "KISS-Matcher"]
	path = KISS-Matcher
	url = https://github.com/MIT-SPARK/KISS-Matcher.git
